.button {
  @include button-text;
  padding: 5px 45px;
  border: 1px solid #6984F0;
  border-radius: 30px;

  &--blue {
    color: white;
    background-color: $blue;
  }

  &--denim {
    color: white;
    background-color: $denim;
  }

  &--white {
    color: $denim;
    background-color: white;
    border: none;
  }
}