.phone {
  display: flex;

  &--row {
    align-items: center;
  }
}

.phone__icon {
  margin-right: 10px;

  .phone--dark & {
    fill: $denim;
  }

  .phone--white & {
    fill: white;
  }
}

.phone__text-block {
  display: flex;
  align-items: center;

  .phone--column & {
    flex-direction: column;
  }

  .phone--row & {
    flex-direction: row;
  }
}

.phone__numbers {
  margin-top: -2px;
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;

  .phone--row & {
    margin-top: 4px;
    margin-right: 13px;
  }

  .phone--dark & {
    color: $denim;
  }

  .phone--white & {
    color: white;
  }
}

.phone__text {
  margin-top: -6px;
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.28em;
  opacity: 0.5;

  .phone--row & {
    margin-top: 1px;
    letter-spacing: normal;
    text-transform: capitalize;
  }

  .phone--dark & {
    color: $denim;
  }

  .phone--white & {
    color: white;
  }
}