@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff2"),
    url("../fonts/Circe-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.woff2"),
    url("../fonts/Circe-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Circe-Medium.woff2"),
    url("../fonts/Circe-Medium.woff");
  font-weight: 500;
  font-style: normal;
}