@mixin h2 {
  font-family: 'Circe', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-transform: uppercase;
  color: $denim;
}

@mixin h3 {
  font-family: 'Circe', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  color: white;
}

@mixin nav-text {
  font-family: 'Circe', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $denim;
}

@mixin button-text {
  @include text;
}

@mixin text {
  font-family: 'Circe', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $denim;
}